*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('https://raw.githubusercontent.com/jomarberdejo/quizgame/main/background.jpg'), linear-gradient(blue, yellow);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;

}
h1, h2, h3{
    color: white;
    font-size: 5rem;
    margin-top: 5rem;
    text-align: center;
}
h1{
  margin-top: 1rem;
}
.intro-span{
  color: white;
}

h2{
    color: green;
    margin-top: 3rem;
}
.start-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12%;
}
#start-container{
  display: flex;
}

#start{
  width: max-content;
  font-size: 90px;
  cursor: pointer;
  background-color: blue;
  border-radius:15px;
  border:none;
  color: white;
}

.start-image img{
  width: 90px;
  height: 90px;
  bottom: 0px;
}

#start:hover{
  box-shadow: 5px 10px 20px white;
}

button{
   padding:1 9;
    font-size: 2rem;
    margin: 2rem;
    width: max-content;
    border:none ;
    border-radius: 8px;
    background-color: #333;
    color:white;
    cursor: pointer;
}

button:hover{
  background-color: #FFFFFF99;
  color: black;
}



.question-type{
    padding-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#q1-check img, #q2-check img, #q3-check img{
    width: 28px;
    height: 28px;
}
#q1-check, #q2-check, #q3-check{
    display: none;

}

.quiz-score{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;

}
.quiz-score p{
  color: white;
  font-size: 30px;
  padding: 8px;
  background-color: black;
  width: max-content;
  border-radius: 7px;
}

#intro, #quiz-score, #question-type{
  display: none;
}

#paragraphs {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin: 100px;

}
#paragraphs p{
  text-align: left;
  color: white;
  font-size: 27px;
  margin-bottom: 15px;
}

footer{
  position: relative;
  bottom: 0;
  background-color: black;
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.exit-button button{
  background-color: white;
  color: blue;
}


.exit-button button:hover{
  background-color: green;
}
.add-for-more-img img{
  width: 2rem;
  height: 2rem;
}
#exit{
  display: none;
}
@media screen and (max-width: 450px){
  h1, h2, h3{
    font-size: 3rem;
  }
  #paragraphs{
    margin: 50px;
  }
}